{% include 'header.html' %}

<h1>Welcome to the website!</h1>
<form action="/planes" method="GET">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">What type of images would you like to see?</label>
    <input name='x' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">You can do anything you want!</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/planes" type="button" class="btn btn-success">Click here for planes</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script> anime({
  targets: '.btn',
  translateX: 250
});</script>